<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-header collapse="condense">
	    <ion-toolbar>
	      <ion-title size="large">Change Password</ion-title>
	    </ion-toolbar>
	</ion-header>
	<div id="">
		<div style="padding: 5%">
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">Current Password</ion-label>
					<ion-input  type="password" required="true" #curpass style="--background: rgba(0,0,0,0);" placeholder="******"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">New Password</ion-label>
					<ion-input  type="password" required="true" #newpass style="--background: rgba(0,0,0,0);" placeholder="*******"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">Confirm Password</ion-label>
					<ion-input  type="password" required="true" #confirmpass style="--background: rgba(0,0,0,0);" placeholder="******"></ion-input>
				</ion-item>
				<ion-button size="default" expand="full" (click)="signup()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					Save <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
	</div>
</ion-content>
