<ion-content>
	<div id="container">
		<div style="padding: 5%">
			<img src="assets/images/bike.png" style="max-width: 300px">
			<h1 style="text-align: center;">Reset Password</h1>
			<p>We have sent you an email with the password reset token.</p>
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="mail-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="text" required="true" #token style="--background: rgba(0,0,0,0);" placeholder="Token"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="lock-closed-outline" size="small" style="margin-right: 5%" color="primary" position="stacked"></ion-icon>
					<ion-input type="password" minlength="6" required="true" #password placeholder="New Password" style="--background: rgba(0,0,0,0)"></ion-input>
				</ion-item>
				
				<ion-button size="default" expand="full" (click)="login()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					Reset <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
		<p>Go <span style="color: #3880ff" (click)="goback()">Back</span></p>
	</div>
</ion-content>
