<ion-content>
  <div #map id="map" style="width: 100%; height: 100%;"></div> 
</ion-content>

<lib-ionic-pullup [(state)]="footerState" [toolbarTopMargin]="350" [minBottomVisible]="150">
   <ion-toolbar color="light" (click)="toggleFooter()" #ionDragFooter>
      <ion-title><ion-icon name="remove-outline"></ion-icon></ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-searchbar animated showCancelButton="focus" autocomplete="street-address" autocorrect="on" placeholder="Search Places"></ion-searchbar>
    <ion-list>
      <ion-item (click)="buttonClick()" lines="inset" style="padding-bottom: 20px" *ngFor="let address of nearby">
        <ion-label>
          {{ address }}
        </ion-label>
        <ion-icon name="bicycle-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</lib-ionic-pullup>