<ion-content>
	<div id="container">
		<div style="padding: 5%">
			<img src="assets/images/bike.png" style="max-width: 300px">
			<h1 style="text-align: center;">We Get It!</h1>
			<p>People forget their passwords all the time. Enter the email address associated with your account to receive a password reset link.</p>
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-icon name="mail-outline" size="small" style="margin-right: 5%" color="primary"></ion-icon>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="Email"></ion-input>
				</ion-item>
				
				<ion-button size="default" expand="full" (click)="submit()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					Submit <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
		<p (click)="signup()">Don't have an account? <span style="color: #3880ff">Sign Up</span></p>
	</div>
</ion-content>
