<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="light" fill="outline" (click)="next()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <ion-slides pager="true">
    <ion-slide style="background-image: linear-gradient( rgba(0,0,0, 0.2), rgba(0, 0, 0, 0.7) ), url(assets/images/bg1.jpg); background-position: center; background-size: cover; ">
      
      <div style="width: 100%; color: white; text-align: center;">
        <h1><img src="assets/images/famba.png" style="max-width: 200px"></h1>
        <p>Ready · Set · Go</p>
      </div>
    </ion-slide>

    <ion-slide style="background-image: linear-gradient( rgba(0,0,0, 0.2), rgba(0, 0, 0, 0.9) ), url(assets/images/bg2.jpg); background-position: center; background-size: cover; ">
      
      <div style="width: 100%; color: white; text-align: center;">
        <h1><img src="assets/images/famba.png" style="max-width: 200px"></h1>
        <p>Ready · Set · Go</p>
      </div>
    </ion-slide>

    <ion-slide style="background-image: linear-gradient( rgba(0,0,0, 0.2), rgba(0, 0, 0, 0.7) ), url(assets/images/bg3.jpg); background-position: center; background-size: cover; ">
      
      <div style="width: 100%; color: white; text-align: center;">
        <h1><img src="assets/images/famba.png" style="max-width: 200px"></h1>
        <p>Ready · Set · Go</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
