<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-header collapse="condense">
	    <ion-toolbar>
	      <ion-title size="large">Edit Profile</ion-title>
	    </ion-toolbar>
	</ion-header>
	<div id="">
		<div style="padding: 5%">
			<form>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">Name</ion-label>
					<ion-input  type="text" required="true" #name style="--background: rgba(0,0,0,0);" placeholder="Name"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">Email</ion-label>
					<ion-input  type="email" required="true" #email style="--background: rgba(0,0,0,0);" placeholder="Email"></ion-input>
				</ion-item>
				<ion-item style="--background: rgba(0,0,0,0); border: 1px solid #dadada; margin-top: 5%; border-radius: 3px" lines="none">
					<ion-label position="floating" color="primary">Phone</ion-label>
					<ion-input  type="tel" required="true" #phone style="--background: rgba(0,0,0,0);" placeholder="Phone"></ion-input>
				</ion-item>
				<ion-button size="default" expand="full" (click)="signup()" style="margin-top: 5%;" [disabled]=!ishidden>
					<ion-ripple-effect type="bounded"></ion-ripple-effect>
					Save <ion-spinner name="lines-small" [hidden]=ishidden></ion-spinner>
				</ion-button>
				<p><small style="color: red; margin-top: 10px; text-align: center">{{error}}</small></p>
			</form>
		</div>
	</div>
</ion-content>
