<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-header collapse="condense">
	    <ion-toolbar>
	      <ion-title size="large">Settings</ion-title>
	    </ion-toolbar>
	</ion-header>
	<ion-list>
		<ion-item detail style="padding-top: 3%" (click)="navigate('editprofile')">
		  <ion-label>
		    Edit Profile
		  </ion-label>
		</ion-item>
		<ion-item detail style="padding-top: 3%" (click)="navigate('changepassword')">
		  <ion-label>
		    Change Password
		  </ion-label>
		</ion-item>

		<ion-item style="padding-top: 3%">
		  <ion-label>Receive Notifications</ion-label>
		  <ion-toggle slot="end"></ion-toggle>
		</ion-item>

		<ion-item detail style="padding-top: 3%" (click)="logout()">
		  <ion-label>
		    Log Out
		  </ion-label>
		</ion-item>
	</ion-list>
</ion-content>
